{
  "browser": "headless",
  "language": "en",
  "credentials": {
    "Instructor01": {
      "firstName": "",
      "lastName": "",
      "username": "",
      "password": ""
    },
    "Instructor02": {
      "firstName": "",
      "lastName": "",
      "username": "",
      "password": ""
    },
    "Student01": {
      "firstName": "",
      "lastName": "",
      "username": "",
      "password": ""
    },
    "Student02": {
      "firstName": "",
      "lastName": "",
      "username": "",
      "password": ""
    }
  }
}